{% extends "base.html.twig" %}

{% block content %}
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <a href="{{ path('user_create_simple') }}" class="btn btn-primary">Create</a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="/* height: 300px; */">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Favorite movies</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>
                                {% for movie in user.favoriteMovies %}
                                    <a
                                    href="{{ path('movie_update', {'id': movie.id}) }}">{{ movie.name }}</a>{{ not loop.last ? ', ' }}
                                {% else %}
                                    -
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('user_update_simple', {'id': user.id}) }}">Simple</a>
                                |
                                <a href="{{ path('user_update_complex', {'id': user.id}) }}">Complex</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
{% endblock content %}
